<a href="https://colab.research.google.com/github/kgaurav1991/Python-DataAnalysis/blob/main/Satististics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [44]:
import pandas as pd
import numpy as np


df = pd.read_csv('income.csv')
df.head()

    Name  Monthly Income
0    Rob            4000
1  Rafiq            5000
2    Tao            6000
3  Sofia            7000
4  Mohan            7500

In [42]:
df.describe()

       Monthly Income
count    6.000000e+00
mean     1.671583e+06
std      4.080074e+06
min      4.000000e+03
25%      5.250000e+03
50%      6.500000e+03
75%      7.375000e+03
max      1.000000e+07

In [22]:
df['Monthly Income'].quantile(0.77)

np.float64(7425.0)

Removing outliers using 99 percentile and 1 percentile

In [30]:
# 1 Percentile
percentile_1 = df['Monthly Income'].quantile(0.01)
percentile_1

np.float64(4050.0)

In [31]:
# 99 Percentile

percentile_99 = df['Monthly Income'].quantile(0.99)
percentile_99

np.float64(9500375.000000002)

In [33]:
df[df['Monthly Income'] > percentile_99]

        Name  Monthly Income
5  Elon Musk        10000000

In [45]:
df[df['Monthly Income'] < percentile_99]

    Name  Monthly Income
0    Rob            4000
1  Rafiq            5000
2    Tao            6000
3  Sofia            7000
4  Mohan            7500

IQR Method to Remove outlier

In [54]:
Q1 = df['Monthly Income'].quantile(0.25)
Q3 = df['Monthly Income'].quantile(0.75)
IQR = Q3 - Q1
IQR
# Upper Range = Q3 + 1.5*IQR
upper_range = Q3 + 1.5*IQR

outliers = df[
    (df['Monthly Income'] < upper_range)
]

outliers

    Name  Monthly Income
0    Rob            4000
1  Rafiq            5000
2    Tao            6000
3  Sofia            7000
4  Mohan            7500

In [55]:
Q1 = df['Monthly Income'].quantile(0.25)
Q3 = df['Monthly Income'].quantile(0.75)
IQR = Q3 - Q1
IQR
# Lower Range = Q3 - 1.5*IQR
lower_range = Q3 - 1.5*IQR

outliers = df[
    (df['Monthly Income'] > lower_range)
]

outliers

        Name  Monthly Income
1      Rafiq            5000
2        Tao            6000
3      Sofia            7000
4      Mohan            7500
5  Elon Musk        10000000

Both Outliers Remove

In [58]:
Q1 = df['Monthly Income'].quantile(0.25)
Q3 = df['Monthly Income'].quantile(0.75)
IQR = Q3 - Q1
IQR
# Upper Range = Q3 + 1.5*IQR
upper_range = Q3 + 1.5*IQR
lower_range = Q3 - 1.5*IQR

outliers = df[
    (df['Monthly Income'] < upper_range) &
    (df['Monthly Income'] > lower_range)
]

outliers

    Name  Monthly Income
1  Rafiq            5000
2    Tao            6000
3  Sofia            7000
4  Mohan            7500

In [61]:
df = pd.read_csv('GolfHome_Data.csv')
df.head()

,location,size,total_sqft,both,price,bhk,price_per_sqft
0,Electronic City Phase 2,4 BHk,1500,3,90.08,4,3690
1,New Delhi,2 BHK,835,2,80.08,2,2626
2,Bikramganj,3 BHK,1150,2,82.02,3,3000
3,Sasaram,1 BHK,700,1,42.02,1,2000

Remove outliers using both method Upper and Lower from the Price columns

In [62]:
# IRQ Method
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   location        4 non-null      object
 1   size            4 non-null      object
 2   total_sqft      4 non-null      int64
 3   both            4 non-null      int64
 4   price           4 non-null      float64
 5   bhk             4 non-null      int64
 6   price_per_sqft  4 non-null      int64
dtypes: float64(1), int64(4), object(2)
memory usage: 356.0+ bytes

In [63]:
# IRQ Method Use

Q1 = df['price'].quantile(0.25)
Q3 = df['price'].quantile(0.75)
IQR = Q3 - Q1
IQR
# Upper Range = Q3 + 1.5*IQR
upper_range = Q3 + 1.5*IQR
lower_range = Q3 - 1.5*IQR

outliers = df[
    (df['price'] < upper_range) &
    (df['price'] > lower_range)
]

outliers

,location,size,total_sqft,both,price,bhk,price_per_sqft
0,Electronic City Phase 2,4 BHk,1500,3,90.08,4,3690
1,New Delhi,2 BHK,835,2,80.08,2,2626
2,Bikramganj,3 BHK,1150,2,82.02,3,3000

In [67]:
# Percentile Method
percentile_99 = df['price'].quantile(0.99)
percentile_99

np.float64(89.8382)

In [68]:
percentile_1 = df['price'].quantile(0.01)
percentile_1

np.float64(43.1618)

In [69]:
# Sofia Missing Values Find
df = pd.read_csv('income_missing.csv')
df.head()

    Name  Monthly Income
0    Rob          4000.0
1  Rafiq          5000.0
2    Tao          6000.0
3  Sofia             NaN
4  Mohan          7500.0

In [70]:
df['Monthly Income'].fillna(df['Monthly Income'].mean(), inplace=True)
# Median is robust to outliers
df

/tmp/ipython-input-3159577892.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Monthly Income'].fillna(df['Monthly Income'].mean(), inplace=True)

        Name  Monthly Income
0        Rob          4000.0
1      Rafiq          5000.0
2        Tao          6000.0
3      Sofia       2004500.0
4      Mohan          7500.0
5  Elon Musk      10000000.0

In [13]:
# Z score
# upper_range = mean + 3*(sigma)
import pandas as pd
import numpy as np

df = pd.read_csv('income.csv')
df.head()

    Name  Monthly Income
0    Rob            4000
1  Rafiq            5000
2    Tao            6000
3  Sofia            7000
4  Mohan            7500

In [19]:
df.describe()

       Monthly Income
count        5.000000
mean      5900.000000
std       1431.782106
min       4000.000000
25%       5000.000000
50%       6000.000000
75%       7000.000000
max       7500.000000

In [14]:
# Z score
# upper_range = mean + 3*(sigma)

mean = df['Monthly Income'].mean()
sigma = df['Monthly Income'].std()

upper_range = mean + 3*(sigma)
upper_range

np.float64(13911806.655438205)

In [15]:
df = df[df['Monthly Income'] < upper_range]
df

        Name  Monthly Income
0        Rob            4000
1      Rafiq            5000
2        Tao            6000
3      Sofia            7000
4      Mohan            7500
5  Elon Musk        10000000

In [16]:
# Z score
# upper_range = mean + 2*(sigma)

mean = df['Monthly Income'].mean()
sigma = df['Monthly Income'].std()

upper_range = mean + 2*(sigma)
upper_range

np.float64(9831732.21473658)

In [17]:
df = df[df['Monthly Income'] < upper_range]
df

    Name  Monthly Income
0    Rob            4000
1  Rafiq            5000
2    Tao            6000
3  Sofia            7000
4  Mohan            7500

In [18]:
df.describe()

       Monthly Income
count        5.000000
mean      5900.000000
std       1431.782106
min       4000.000000
25%       5000.000000
50%       6000.000000
75%       7000.000000
max       7500.000000

In [24]:
# Remove outlines using 3 Z score and tell me before and after std dev

mean = df['Monthly Income'].mean()
sigma = df['Monthly Income'].std()

upper_range = mean + 3*(sigma)

outliers = df[
    (df['Monthly Income'] < upper_range) &
    (df['Monthly Income'] > lower_range)
]

outliers

    Name  Monthly Income
0    Rob            4000
1  Rafiq            5000
2    Tao            6000
3  Sofia            7000
4  Mohan            7500

In [26]:
mean = df['Monthly Income'].mean()
sigma = df['Monthly Income'].std()

lower_range = mean - 3*(sigma)

outliers = df[
    (df['Monthly Income'] > lower_range)
]

outliers

    Name  Monthly Income
0    Rob            4000
1  Rafiq            5000
2    Tao            6000
3  Sofia            7000
4  Mohan            7500